<div class="ui large top fixed hidden menu link_menu">
    <a class="active item" href="{{@blog.url}}">Home</a>
    <a class="item" href="{{@blog.url}}/tag/gallery/">Gallery</a>
    <a class="item" href="{{@blog.url}}/contact/">Contact</a>
    <a class="item" href="{{@blog.url}}/tag/about/">About</a>
    <div class="ui pointing dropdown link item menu_dropdown">
        <span class="text">Reflections</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="{{@blog.url}}/tag/spirituality/">Spirituality</a>
            <a class="item" href="{{@blog.url}}/tag/girls-corner/">Girls Corner</a>
          
        </div>
    </div>
</div>
